@import '../../assets/styles/variables.scss';
.home-screen {
    padding: {
        left: 3em;
        right: 3em;
        top: 3em;
        bottom: 10em;
    }
    .header {
        padding-top: 1em;
    }
    .searched-value {
        display: flex;
        font-size: $mediumFontSize;
        margin-top: 2em;
    }
    .content {
        display: flex;
        height: 12em;
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 3em;
        padding-bottom: 3em;
        .content-label {
            display: flex;
            width: 100%;
            font-size: $mediumFontSize;
            margin-bottom: 1em;
            font-weight: bold;
        }
    }
}
