@import '../../assets/styles/variables.scss';
.home-screen {
    padding: 3em;
    .header {
        padding-top: 1em;
    }
    .searched-value {
        display: flex;
        font-size: $mediumFontSize;
        margin-top: 2em;
    }
    .content {
        display: flex;
        height: 12em;
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 3em;
        padding-bottom: 3em;
        .content-label {
            display: flex;
            width: 100%;
            font-size: $mediumFontSize;
            margin-bottom: 0.5em;
            font-weight: bold;
        }
        .content-list {
            display: flex;
            width: 100%;
            flex-wrap: nowrap;
            overflow: hidden;
            overflow-x: hidden;
        }
    }
}
