@import '../../assets/styles/variables.scss';

.album-screen {
    display: flex;
    flex-wrap: wrap;
    padding: 5em 5em 0em 3em;
    padding-bottom: 8em;
    .header {
        display: flex;
        width: 100%;
        margin-bottom: 1em;
        .back-btn {
            background-color: transparent;
            cursor: pointer;
            border: none;
            color: $white;
            display: flex;
            align-items: center;
            font-size: 1em;
            padding: 1em;
            .arrow-back {
                border: solid $white;
                margin-right: 1em;
                border-width: 0 2px 2px 0;
                display: inline-block;
                padding: 3px;
                transform: rotate(135deg);
                -webkit-transform: rotate(135deg);
            }
        }
    }
    .album-section {
        display: flex;
        align-items: flex-start;
        width: 30%;
    }
    .tracks-section {
        display: flex;
        width: 70%;
        .track-list {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            counter-reset: section;
            .track-item {
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin-bottom: 1.5em;
                cursor: pointer;
                &::before {
                    position: relative;
                    margin-left: -3em;
                    width: 3em;
                    counter-increment: section;
                    content: counter(section) '.';
                    color: $titleGrey;
                }
                &:hover {
                    color: $titleGrey;
                }
                &.playing {
                    color: $green;
                }
                .track-name {
                    width: 100%;
                    .track-duration {
                    }
                }
            }
        }
    }
}
