// colours
$white: white;
$titleGrey: #999999;
$defaultGrey: #fafafa;
$backgroundBlack: #161616;
$musicBarBlack: #282828;

//alignments
$defaultAlignment: left;

// font sizes

$bigFontSize: 24px;
$mediumFontSize: 18px;
$regularFontSize: 16px;
$smallFontSize: 14px;
