// colours
$white: white;
$titleGrey: #999999;
$lightGrey: #d6d1cb;
$defaultGrey: #fafafa;
$backgroundBlack: #161616;
$musicBarBlack: #282828;
$green: #97d700;

//alignments
$defaultAlignment: left;

// font sizes

$bigFontSize: 24px;
$mediumFontSize: 18px;
$regularFontSize: 16px;
$smallFontSize: 14px;
