.authentication-container {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/images/mock-background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    .authentication-backdrop {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(20px);
        .authentication-modal {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50em;
            height: 30em;
            background-color: black;
            border-radius: 1em;
            form {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                width: 100%;
                padding: 7em;
            }
        }
    }
}
